@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.journalEntryNew {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

}

.formField {
	/* display:flex */
	justify-content: flex-start;
	flex-direction: column;
}

.fieldSet {
	display: flex;
	flex-direction: column;
}

.journalEntryOld {
	padding: 8px;
	border: solid black 2px;
	margin: 8px 0px;
}

#djTitle {
	margin-top: 0px;
}

#saveEntry {
	margin: 5px;
}

#archivedTitle {
	font-weight: bolder;
	font-size: larger;
	text-align: center; 
}

#archiveButtons {
	display: flex;
	justify-content: space-around;
}